# The directory Mix will write compiled artifacts to.
/_build

# The target build directorly under native
/native/midiex/target

# If you run "mix test --cover", coverage assets end up here.
/cover

# The directory Mix downloads your dependencies sources to.
/deps

# Where third-party dependencies like ExDoc output generated docs.
/doc

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# BEAM files
*.beam

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
midiex-*.tar

# Temporary files, for example, from tests.
/tmp/

# Ignore ElixirLS temp files.
.elixir_ls/

# Allow folks to use their own .envrc
.envrc

# Allow folks to use their own .iex.exs
.iex.exs

# Allow folks to use their local .tool-versions for asdf
.tool-versions

# For the Mac users
.DS_Store

# Accommodate Nix folks
.nix-mix
.nix-hex
.direnv

# Ignore checksum file
checksum-*.exs